* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin: 0 auto;
}

h3  {
    text-decoration: underline;
}

#about-me {
    background-color: black;
    color:white;
    padding: 20px 0;
}

body {
    position: relative;
    top: 80px;
    left: 0;
    right: 0;
}

#school {
    max-width: 80%;
    height: 500px;
    margin: 0 auto;
}

#education {
    width: 50%;
    float: left;
    text-align: center;
}

#school-pic {
    width: 50%;
    float: right;
}

#school-pic img {
    height: 500px;
    width: 750px;
}

/* Hobbies Section */

#hobbies {
    position: relative;
    top: 80px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    align-items: center;
    margin: 50px auto 0px;
    text-align: center;
}

.hobby-card {
    display: inline-flex;
    flex-direction: column;
    width: 45%;
    border: 2px solid #333;
    border-radius: .5rem;
    padding: .5rem;
    margin: 2.5rem 1.5rem;

}

.hobby-card > img {
    display: block;
    width: 80%;
    margin: 1rem auto;
}

/* Back button */

#back {
    position: relative;
    top: 80px;
    text-align: center;
    align-content: center;
    margin: 0 auto;
}

#back a {
    color: white;
    background-color: black;
    align-self: center;
    padding: 10px 20px;
}